.venv/
__pycache__/
*.pyc
.env
raw/
corpus_nsi
corpus/**/*.json
*.aux
*.log
*.out
*.toc
*.pdf
!docs/**/*.pdf
build/
*.pdf
!docs/**/*.pdf
!build/
build/*
!build/MANUEL_1NSI/
build/MANUEL_1NSI/*
!build/MANUEL_1NSI/MANUEL_1NSI_eleve.pdf
!build/MANUEL_1NSI/MANUEL_1NSI_professeur.pdf
!build/MANUEL_1NSI/MANUEL_1NSI_methodes.pdf
!build/MANUEL_1NSI/MANUEL_1NSI_remediation.pdf
!build/MANUEL_1NSI/MANUEL_1NSI_amenagee.pdf
!build/MANUEL_1NSI/MANUEL_1NSI_evaluations.pdf
!build/MANUEL_1NSI/MANUEL_1NSI_projets.pdf
